
@{
    ViewData["Title"] = "Change Password";
}


@model GtsTask3Famly.ViewModel.ChangePasswordVM
<div class="row justify-content-center">
    <div class="col-5">

        <form method="post" class="px-4 py-3">
            <input asp-for="UserId" type="hidden" value="@Model.UserId" />
            <input asp-for="Token" type="hidden" value="@Model.Token" />
            <div class="form-group">
                <label asp-for="Password">New password</label>
                <input class="form-control" asp-for="Password" placeholder="new password">

            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input class="form-control" asp-for="ConfirmPassword" placeholder="Re-enter the password">

            </div>
            
            <div class="text-danger" asp-validation-summary="All"></div>
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
        <div class="dropdown-divider"></div>
    </div>
</div>

