
@{
    ViewData["Title"] = "Forgot password";
}
@{
    @if (TempData["ForgotPassword"] != null)
    {
        <div class="col-12 my-2">
            <p class="alert alert-danger">Account recovery link has been sent to your email address.Check your Email address.</p>
        </div>
    }
}
@model GtsTask3Famly.ViewModel.ForgotPasswordVM
<div class="row justify-content-center">
    <div class="col-5">

        <form method="post" class="px-4 py-3">
            <div class="form-group">
                <label asp-for="Email">Email address</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="email@example.com">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Find Email</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="account" asp-action="signup">Go back</a>

    </div>
</div>

